+headImgGrey
.cards__content
  .cards__find-rooms
    +findRooms
  .cards__room-info 
    +roomInfo({num: '888', 
              luxe: true, 
              price: 9990, 
              date: 4,
              })

  .cards__datepicker
    +datePicker({calendarId: 'cardsDate', open:true, datePickerId: 'date-picker-cards', type: 'none'})
