+headImg  
.colors-block__sections 
    section.colors-block__colors-section 
        ul 
            li 
                .colors-block__quad
                    .colors-block__quad_main-dark.shade100
                .colors-block__quad-info
                    h2 Dark Shade 100% 
                    p #1F2041
            li 
                .colors-block__quad
                    .colors-block__quad_main-dark.shade75
                .colors-block__quad-info
                    h2 Dark Shade 75%
                    p #1F2041
            li 
                .colors-block__quad
                    .colors-block__quad_main-dark.shade50
                .colors-block__quad-info
                    h2 Dark Shade 50%
                    p #1F2041
            li 
                .colors-block__quad
                    .colors-block__quad_main-dark.shade25
                .colors-block__quad-info
                    h2 Dark Shade 25%
                    p #1F2041
            li 
                .colors-block__quad
                    .colors-block__quad_main-dark.shade5
                .colors-block__quad-info
                    h2 Dark Shade 5%
                    p #1F2041
            li 
                .colors-block__quad
                    .colors-block__quad_purple
                .colors-block__quad-info
                    h2 Purple
                    p #BC9CFF
            li 
                .colors-block__quad
                    .colors-block__quad_green
                .colors-block__quad-info
                    h2 Green
                    p #6FCF97
    section.colors-block__type-section
                .colors-block__fonts-name 
                    p.colors-block__fonts-name_name-h1   H1
                .colors-block__fonts-info
                    h1 This one is the sub-section or widget title    
                .colors-block__fonts-name 
                    p.colors-block__fonts-name_name-h2  H2
                .colors-block__fonts-info
                    h2 Next one is the item title inside widgets                
                .colors-block__fonts-name
                    p.colors-block__fonts-name_name-h3  H3
                .colors-block__fonts-info
                    h3 This is a label or CTA text
                .colors-block__fonts-name 
                    p.colors-block__fonts-name_name-body  Body
                .colors-block__fonts-info
                    body This is the body text which is used for most #[br] of the design, like paragraphs, lists, etc.