.colors-block {
  &__sections {
    padding-top: 37px;
    display: grid;
    grid-template-columns: minmax(5px, 150px) 360px minmax(5px, 322px) 458px minmax(
        5px,
        150px
      );
  }
  &__colors-section {
    grid-column: 2/3;
    li {
      display: flex;
    }
  }
  &__quad {
    border-radius: 6px;
    width: 70px;
    height: 70px;
    margin: 0px 40px 20px 0px;
    overflow: hidden;
    &_main-dark {
      background: $mainColor;
      height: 100%;
    }
    &_green {
      background: $green;
      height: 100%;
    }
    &_purple {
      height: 100%;
      background: $purple;
    }
  }
  &__quad-info {
    h2 {
      padding-top: 10px;
    }
    p {
      padding-top: 4px;
      font-size: 18px;
      letter-spacing: 0.7px;
    }
  }
  &__type-section {
    align-items: baseline;
    justify-content: flex-start;
    grid-column: 4/5;
    display: grid;
    grid-template-columns: 54px 27px 370px;
    grid-template-rows: 110px 95px 66px 110px;
  }
  &__fonts-name {
    text-align: right;
    margin-right: 4px;
    &_name-h1 {
      font-size: 24px;
    }
    &_name-h2 {
      font-size: 20px;
    }
    &_name-h3 {
      font-size: 12px;
    }
  }
  &__fonts-info {
    grid-column: 3/4;
  }
}
.shade75 {
  opacity: 0.75;
}
.shade50 {
  opacity: 0.5;
}
.shade25 {
  opacity: 0.25;
}
.shade5 {
  opacity: 0.05;
}
