@import "../../../modules/blocks/dropdown-guests/dropdown-guests.scss";
@import "../../../modules/blocks/dropdown-rooms/dropdown-rooms.scss";
@import "../../../modules/blocks/expandable-checkbox-list/expandable-checkbox-list.scss";

.date-dropdown-wrap {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 104px;
  .left-dd,
  .right-dd {
    width: 150px;
    overflow: hidden;
  }
}

.elements-grid {
  margin: auto;
  max-width: 1158px;
  display: grid;
  grid-template-columns: 320px minmax(6px, 126px) 322px minmax(6px, 70px) 319px;
  grid-template-rows: 32px 636px 97px 270px 39px 280px 80px 180px;
}
.fields-dropdowns {
  grid-column: 1/2;
  grid-row: 2/3;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
}
.line-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  .line-text_minor-text {
    color: rgba(31, 32, 65, 0.5);
    font-weight: 400;

    &.__up {
      margin-bottom: 6px;
    }
  }
}
.focus-hover {
  input {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
    font-size: 13.5px;
    // border-radius: 4px 4px 0px 0px;
  }
}

.text-field {
  height: 85px;
  // width: 321px;
}
.text-field_two {
  height: 84px;
}
.text-field_three {
  height: 86px;
}
.text-field_four {
  height: 105px;
}

.apartment {
  grid-column: 1/2;
  grid-row: 4/5;
}
.guests-empty {
  grid-column: 3/4;
  grid-row: 4/5;
}
.guests {
  grid-column: 5/6;
  grid-row: 4/5;
}

.checkboxs {
  grid-column: 1/2;
  grid-row: 6/7;
}
.dropdown {
  .check-markUI {
    position: absolute;
    right: 5%;
    padding: 2px;
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
    background-color: #fff;
  }

  &.active {
    .check-markUI {
      position: absolute;
      right: 5%;
      padding: 2px;
      transform: rotate(0deg);
      transition: transform 200ms ease-in-out;
      background-color: #fff;
    }
  }
}

.checkbox1 {
  height: 65px;
}
