@import "../../../modules/blocks/dropdown/dropdown.scss";
@import "../../../modules/blocks/checkbox/checkbox.scss";

@import "../../../modules/blocks/dropdown-rooms/dropdown-rooms.scss";
@import "../../../modules/blocks/expand-checkbox/expand-checkbox.scss";
@import "../../../modules/blocks/checkbox-buttons/checkbox-buttons.scss";
@import "../../../modules/blocks/radio-buttons/radio-buttons.scss";
@import "../../../modules/blocks/subscription/subscription.scss";

.elements {
  &__sections {
    margin: auto;
    max-width: 1158px;
    display: grid;
    grid-template-columns: 320px minmax(6px, 126px) 320px minmax(6px, 72px) 320px;
    grid-template-rows: 30px 636px 98px 270px 41px 280px 80px 180px;
  }
  &__dropdowns-field {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &__text-field {
    height: 85px;
  }
  &__focus {
    height: 84px;
    input {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
      font-size: 13.6px;
    }
  }
  &__guests {
    height: 87px;
  }
  &__input-data {
    height: 104px;
  }
  &__two-dates {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 104px;
    .left-dd,
    .right-dd {
      width: 150px;
      overflow: hidden;
    }
  }
  &__range-dates {
    height: 105px;
  }
  &__subscription {
    height: 105px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 23px;
    &_minor-text {
      color: rgba(31, 32, 65, 0.5);
      font-weight: 400;
      position: absolute;
      margin-left: 195px;
      &.up-text {
        margin-bottom: 6px;
      }
    }
  }
  &__apartment {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  &__rooms {
    height: 84px;
  }
  &__checkboxes-field {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  &__checkbox1 {
    height: 63px;
    // position: relative;
  }
  &__radio-toggle-field {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.line-text_main-text {
  // height: 23px;
}

.guests-empty {
  grid-column: 3/4;
  grid-row: 4/5;
}
.guests {
  grid-column: 5/6;
  grid-row: 4/5;
}

.dropdown {
  .check-markUI {
    position: absolute;
    right: 5%;
    padding: 2px;
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
    background-color: #fff;
  }

  &.active {
    .check-markUI {
      position: absolute;
      right: 5%;
      padding: 2px;
      transform: rotate(0deg);
      transition: transform 200ms ease-in-out;
      background-color: #fff;
    }
  }
}
