+headImgGrey 
.elements__sections 
  section.elements__dropdowns-field
      .elements__text-field
        h3.elements__title_minor-text.text-filed__default-text Default
        +maskedTxtField({title: 'TEXT FIELD',  type:'email', placeholder: 'Email', name: 'email' })
      .elements__focus
        h3.elements__title_minor-text.text-filed__hover-text Hover / Focus
        +maskedTxtField({title: 'TEXT FIELD',  value:'This is pretty awesome' })
      .elements__guests.js-main__guest-dropdown
        +dropdownGuest({title: 'dropdown', id: 'guests'})
      .elements__input-data
        +maskedTxtField({title: 'masked text field', value: '', js:true})
      .elements__two-dates
        +datePicker({calendarId: 'two-dates-cal', leftTitle: 'date Dropdown', rightTitle: 'date Dropdown', rightValueDate: '19.08.2019', datePickerId: 'date-picker-first', type: 'two-input'})
      .elements__range-dates
        +datePicker({calendarId: 'range-dates-cal', title: 'filter date dropdown', value: '19 авг - 23 авг', datePickerId: 'date-picker-second', type: 'range-dates'})
      .elements__subscription
        +maskedTxtField({title: 'subscription text field', name: "email", type: 'email', placeholder: 'Email', readonly:false, button:true, required:true})

 
  section.elements__apartment
    .elements__rooms.js-main__rooms-dropdown
      h3.elements__title_minor-text.dropdown__default-text Default
      +dropdownRooms({
        title: 'dropdown', id: 'rooms', style: 'z-index: 10',
        buttons:false, sharp:true, values: [2,2,0]})  
    .elements__rooms.js-main__rooms-dropdown
      h3.elements__title_minor-text.dropdown__expanded-text expanded
      +dropdownRooms({
        title: 'dropdown', style: 'z-index: 1', buttons:false, sharp:true, open: true, values: [2,2,0]})

  .guests-empty.js-main__guest-dropdown
    +dropdownGuest({title: 'dropdown', open: true})
  .guests.js-main__guest-dropdown
    +dropdownGuest({title: 'dropdown', open: true, values: [2,1,0]           })

  section.elements__checkboxes-field
    .elements__checkbox1.js-main__checkBox-dropdown
      +checkBoxMenu({title:'expandable checkbox list', 
                    style: 'z-index: 10',
                    items: 
                   [{name:'Завтрак', id:'breakfast'}, 
                    {name:'Письменный стол', id:'table'},
                    {name:'Стул для кормления', id:'chair'},
                    {name:'Кроватка', id:'bed'},
                    {name:'Телевизор', id:'tv'},
                    {name:'Шампунь', id:'shampoo'},]})

    .elements__checkbox2.js-main__checkBox-dropdown
          +checkBoxMenu({title:'expandable checkbox list',
                    open:true,
                    style: 'z-index: 1',
                    items: 
                   [{name:'Завтрак', id:'breakfast', checked:false}, 
                    {name:'Письменный стол', id:'table', checked:true},
                    {name:'Стул для кормления', id:'chair', checked:true},
                    {name:'Кроватка', id:'bed', checked:true},
                    {name:'Телевизор', id:'tv', checked:false},
                    {name:'Шампунь', id:'shampoo', checked:false},]})

  section.elements__radio-toggle-field  
    .elements__checkbox 
      +checkBoxMenu({title:'Checkbox Buttons',
                    open:true,
                    tight: true,
                    items: 
                   [{name:'Можно курить', id:'smoke', checked:false}, 
                    {name:'Можно с питомцами', id:'pets', checked:true},
                    {name:'Можно пригласить гостей (до 10 человек)', id:'party', checked:true},
                    ]})
    .elements__radio
      +radioButtons({
            title: 'Radio Buttons',
            id: 'radioButtons',
            items: [{radioId: 'maleElem',
                    checked: true,
                    text:'Мужчина'
                    },
                    {radioId: 'femaleElem',
                    checked: false,
                    text:'Женщина',
                    },                    
                    ],
          })
    .elements__toggle
      +toggleButtons({
            title: 'Toggle',
            id: 'toggleButtons',
            items: [{toggleId: 'yesToggle',
                    checked: true,
                    text:'Получать спецпредложения'
                    },
                    {toggleId: 'noToggle',
                    checked: false,
                    text:'Получать спецпредложения',
                    },                    
                    ],
          })
    .elements__like-buttons
      label.like-buttons__title like button 
      .like-buttons__content
          +likeButton({
                id: 'likeButton1',
                count: 2,
              })
          +likeButton({
                id: 'likeButton2',
                count: 12,
                liked: true,
              })
    .elements__rate-btn 
      label.rate-btn__title rate button
      .rate-btn__content
        +rateBtn(4)
        +rateBtn(5)
  section.elements__slider-buttons 
    .elements__range-slider
      +rangeSlider('js-range-slider')
    .elements__buttons
        label.buttons__title buttons
        .buttons__register-btns
          +registerButton({text:'CLICK ME'})
          +registerButton({text:'CLICK ME', hover:true})
        .buttons__enter-btns
          +enterButton({text:'CLICK ME'})
          +enterButton({text:'CLICK ME', hover:true})
        .buttons__text-btns
          +textButton({text:'CLICK ME'})
          +textButton({text:'CLICK ME', active:true})
        .buttons__pay-btn
          +registerButton({text:'перейти к оплате', arrow:true})
    .elements__pagination
      label.pagination__title pagination
      +pagination(170, 12)
  section.elements__rich-checkbox-field
    +rich-checkbox({title:'rich Checkbox Buttons',
                    open:true,
                    tight: true,
                    items: 
                   [{name:'Широкий коридор', text: "Ширина коридоров в номере <br> не менее 91 см.", id:'width', checked:false}, 
                    {name:'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист  и проводит до номера.', id:'helper', checked:false},
                                        ]})
  section.elements__bullet-list
    +bulletList({title: "BULLET LIST", 
                items: [{text: "Нельзя с питомцами"}, 
                {text: "Без вечеринок и мероприятий"}, 
                {text: "Время прибытия — после 13:00, а выезд до 12:00"}]})
  section.elements__additionally
    +additionally({title: "Комфорт", text: "Шумопоглощающие стены", ico: 'insert_emoticon'})
    +additionally({title: "Удобство", text: "Окно в каждой из спален", ico: 'location_city'})
  section.elements__comment
    +comment({name: 'Мурад Сарафанов', 
              date: "5 дней назад", 
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", 
              avatarSrc: 'Images/avatar.png',
              alt: "avatar",
              like: {id: "10", count: 12, liked: true}})