+headImg 
.elements__sections 
  section.elements__dropdowns-field
      .elements__text-field
        h3.elements__title_minor-text.up-text Default
        +textField({
          type:'email',  
          placeholder: 'Email'       })

      .elements__focus
        h3.elements__title_minor-text Hover / Focus
        +textField({
          title: 'Text Field', 
          value:'This is pretty awesome', 
           })
      .elements__guests.js-main__guest-dropdown
        +dropdownGuest({title: 'dropdown', id: 'guests'})
      .elements__input-data
        +maskedTxtField({title: 'masked text field', placeholder: 'ДД.ММ.ГГГГ'})
      .elements__two-dates
          .left-dd
              h3.field-title date Dropdown
                  //- +drophDate 
              form.date-dropdown(data-dropdown)
                  .date-dropdown_input()
                      input.dropdown-toggle__short(type="text" value="ДД.ММ.ГГГГ" data-dropdown-button)
                      img(src=require('Images/expand_more.svg') data-dropdown-button)

          .right-dd
              h3.field-title date Dropdown
                  //- +drophDate 
              form.date-dropdown(data-dropdown)
                  .date-dropdown_input()
                      input.dropdown-toggle__short(type="text" value="19.08.2019" data-dropdown-button)
                      img(src=require('Images/expand_more.svg') data-dropdown-button)

      .elements__range-dates
        h3.field-title filter date dropdown
        form.date-dropdown(data-dropdown)
          .date-dropdown_input 
            input.dropdown-toggle__mid(type="text" value="19 авг - 23 авг" data-dropdown-button)
            img(src=require('Images/expand_more.svg') data-dropdown-button)

      .elements__subscription
        +subscription({title: 'subscription text field', id: 'email'})

 
  section.elements__apartment
    .elements__rooms.js-main__rooms-dropdown
      h3.elements__title_minor-text Default
      +dropdownRooms({
        title: 'dropdown', id: 'rooms',
        buttons:false, sharp:true, values: [2,2,0]})  
    .elements__rooms.js-main__rooms-dropdown
      h3.elements__title_minor-text expanded
      +dropdownRooms({
        title: 'dropdown', buttons:false, sharp:true, open: true, values: [2,2,0]})

  .guests-empty.js-main__guest-dropdown
    +dropdownGuest({title: 'dropdown', open: true})
  .guests.js-main__guest-dropdown
    +dropdownGuest({title: 'dropdown', open: true, values: [2,1,0]           })

  section.elements__checkboxes-field
    .elements__checkbox1.js-main__checkBox-dropdown
      +checkBoxMenu({title:'expandable checkbox list',
                    items: 
                   [{name:'Завтрак', id:'breakfast'}, 
                    {name:'Письменный стол', id:'table'},
                    {name:'Стул для кормления', id:'chair'},
                    {name:'Кроватка', id:'bed'},
                    {name:'Телевизор', id:'tv'},
                    {name:'Шампунь', id:'shampoo'},]})

    .elements__checkbox2.js-main__checkBox-dropdown
          +checkBoxMenu({title:'expandable checkbox list',
                    open:true,
                    items: 
                   [{name:'Завтрак', id:'breakfast', checked:false}, 
                    {name:'Письменный стол', id:'table', checked:true},
                    {name:'Стул для кормления', id:'chair', checked:true},
                    {name:'Кроватка', id:'bed', checked:true},
                    {name:'Телевизор', id:'tv', checked:false},
                    {name:'Шампунь', id:'shampoo', checked:false},]})

  section.elements__radio-toggle-field  
    .elements__checkbox 
      +checkBoxMenu({title:'Checkbox Buttons',
                    open:true,
                    tight: true,
                    items: 
                   [{name:'Можно курить', id:'smoke', checked:false}, 
                    {name:'Можно с питомцами', id:'pets', checked:true},
                    {name:'Можно пригласить гостей (до 10 человек)', id:'party', checked:true},
                    ]})
    .elements__radio
      +radioButtons({
            title: 'Radio Buttons',
            id: 'radioButtons',
            items: [{radioId: 'male',
                    checked: true,
                    text:'Мужчина'
                    },
                    {radioId: 'female',
                    checked: false,
                    text:'Женщина',
                    },                    
                    ],
          })

      //- +checkBoxList('active', "expandable checkbox list", true, false, true)
