@import "../../../modules/blocks/dropdown/dropdown.scss";
@import "../../../modules/blocks/checkbox/checkbox.scss";
@import "../../../modules/blocks/dropdown-nav/dropdown-nav.scss";
@import "../../../modules/blocks/dropdown-rooms/dropdown-rooms.scss";
@import "../../../modules/blocks/expand-checkbox/expand-checkbox.scss";
@import "../../../modules/blocks/airDatepicker/airDatepicker.scss";
@import "../../../modules/blocks/datepicker/datepicker.scss";
@import "../../../modules/blocks/masked-text-field/masked-text-field.scss";
@import "../../../modules/blocks/toggle-buttons/toggle-buttons.scss";
@import "../../../modules/blocks/like-button/like-button.scss";
@import "../../../modules/blocks/rate/rate.scss";
@import "../../../modules/blocks/buttons/buttons.scss";
@import "../../../modules/blocks/radio-buttons/radio-buttons.scss";
@import "../../../modules/blocks/range-slider/range-slider.scss";
@import "../../../modules/blocks/pagination/pagination.scss";
@import "../../../modules/blocks/rich-checkbox/rich-checkbox.scss";
@import "../../../modules/blocks/bullet-list/bullet-list.scss";
@import "../../../modules/blocks/additionally/additionally.scss";
@import "../../../modules/blocks/comment/comment.scss";
.elements {
  &__sections {
    margin: auto;
    max-width: 1158px;
    display: grid;
    grid-template-columns: 320px minmax(6px, 126px) 320px minmax(6px, 72px) 320px;
    grid-template-rows: 31px 636px 97px 270px 41px 280px 100px 291px;
  }
  &__dropdowns-field {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &__text-field {
    height: 84px;
  }
  &__focus {
    height: 84px;
    input {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
      font-size: 13.6px;
    }
  }
  &__guests {
    height: 87px;
  }
  &__input-data {
    height: 104px;
  }
  &__two-dates {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 105px;
    .left-dd,
    .right-dd {
      width: 150px;
      overflow: hidden;
    }
  }
  &__range-dates {
    height: 105px;
    width: 267px;
  }
  &__subscription {
    height: 105px;
    width: 267px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 23px;
    &_minor-text {
      color: rgba(31, 32, 65, 0.5);
      font-weight: 400;
      position: absolute;
      margin-top: 5px;
      // &.up-text {
      //   margin-bottom: 6px;
      // }
    }
  }
  &__apartment {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  &__rooms {
    height: 84px;
  }
  &__checkboxes-field {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  &__checkbox1 {
    height: 64px;
    // position: relative;
  }
  &__radio-toggle-field {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  &__checkbox {
    height: 170px;
  }
  &__radio {
    height: 91px;
  }
  &__toggle {
    height: 129px;
  }
  &__like-buttons {
    height: 92px;
    .like-buttons__content {
      display: flex;
      margin-top: 12px;
      column-gap: 10px;
    }
  }
  &__rate-btn {
    height: 90px;
    .rate-btn__content {
      display: flex;
      margin-top: 12px;
      column-gap: 20px;
    }
  }
  &__slider-buttons {
    grid-column: 5/6;
    grid-row: 2/3;

    .elements__range-slider {
      height: 87px;
      width: 266px;
      margin-top: 1px;
    }

    .buttons__register-btns {
      margin-top: 11px;
      margin-left: 1px;
      height: 44px;
      display: flex;
      column-gap: 19px;
    }
    .buttons__enter-btns {
      margin-top: 30px;
      height: 44px;
      display: flex;
      column-gap: 20px;
    }
    .buttons__text-btns {
      margin-top: 17px;
      height: 44px;
      display: flex;
      column-gap: 21px;
    }
    .buttons__pay-btn {
      margin-top: 15px;
      height: 44px;
      // display: flex;
      // column-gap: 20px;
    }
    // .elements__pagination {
    //   margin-top: 35px;
    // }
  }
  &__pagination {
    margin-top: 41px;
    .pagination__title {
      margin-bottom: 16px;

      display: block;
    }
  }
  &__rich-checkbox-field {
    grid-column: 3/4;
    grid-row: 6/7;
    margin-top: 10px;
  }
  &__bullet-list {
    grid-column: 5/6;
    grid-row: 6/7;
    margin-top: 15px;
  }
  &__additionally {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  &__comment {
    margin-top: 12px;
    grid-column: 3/6;
    grid-row: 8/9;
  }
}
.text-filed__default-text {
  margin-left: 263px;
  margin-top: 3px;
}
.text-filed__hover-text {
  margin-left: 223px;
}
.dropdown__default-text {
  margin-left: 208px;
}
.dropdown__expanded-text {
  margin-left: 195px;
}

.guests-empty {
  grid-column: 3/4;
  grid-row: 4/5;
}
.guests {
  grid-column: 5/6;
  grid-row: 4/5;
}

.dropdown {
  .check-markUI {
    position: absolute;
    right: 5%;
    padding: 2px;
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
    background-color: #fff;
  }

  &.active {
    .check-markUI {
      position: absolute;
      right: 5%;
      padding: 2px;
      transform: rotate(0deg);
      transition: transform 200ms ease-in-out;
      background-color: #fff;
    }
  }
}
