+headImg 
.elements-grid
  section.fields-dropdowns
      .text-field
        .line-text
          div
              h3.line-text_main-text Text Field
          div
              h3.line-text_minor-text.__up Default
        +textField
      .text-field_two
        .line-text
          div
              h3.line-text_main-text Text Field
          div
              h3.line-text_minor-text Hover / Focus
        form.focus-hover
          input(type="text" placeholder="Email" value="This is pretty awesome")     
      .text-field_three
        .line-text
          h3.line-text_main-text Dropdown
        
        form.dropdown(data-dropdown)
            +dropdownGuest
      .text-field_four 
        .line-text
          h3.line-text_main-text masked text field
        +birthDate 
      .date-dropdown-wrap 
          .left-dd
              h3.line-text_main-text.line-text date Dropdown
                  //- +drophDate 
              form.date-dropdown(data-dropdown)
                  .date-dropdown_input()
                      input.dropdown-toggle__short(type="text" value="ДД.ММ.ГГГГ" data-dropdown-button)
                      img(src=require('Images/expand_more.svg') data-dropdown-button)

          .right-dd
              h3.line-text_main-text.line-text date Dropdown
                  //- +drophDate 
              form.date-dropdown(data-dropdown)
                  .date-dropdown_input()
                      input.dropdown-toggle__short(type="text" value="19.08.2019" data-dropdown-button)
                      img(src=require('Images/expand_more.svg') data-dropdown-button)

      .text-field_four 
        h3.line-text_main-text.line-text filter date dropdown
        form.date-dropdown(data-dropdown)
          .date-dropdown_input 
            input.dropdown-toggle__mid(type="text" value="19 авг - 23 авг" data-dropdown-button)
            img(src=require('Images/expand_more.svg') data-dropdown-button)

      .text-field_four   
        h3.line-text_main-text.line-text subscription text field
        +subscriptionField

 
  .apartment 
    .text-field_two 
      .line-text.mid-size
        div
          h3.line-text_main-text dropdown
        div
          h3.line-text_minor-text Default
      +dropdownRooms('', 'check-markUI', value="2 спальни, 2 кровати...", 2, 2, '', '')
    .line-text.mid-size
      div
        h3.line-text_main-text dropdown
      div
        h3.line-text_minor-text expanded
    +dropdownRooms('active', 'check-markUI', "2 спальни, 2 кровати...", 2, 2, '', '')
  .guests-empty
      h3.line-text_main-text.line-text dropdown
      //- +dropdownGuestsUIActive
      +dropdownGuest('active', 'check-markUI')
  .guests
      h3.line-text_main-text.line-text dropdown
      +dropdownGuest('active', 'check-markUI', '3 гостя', 2, 1, 'display: block', '', '')
  .checkboxs
    .checkbox1
      +checkBoxList({
          name: 'expandable checkbox list',
          open: '',
          id: 'checkbox',
          closing: false,
          items: [{id: 'breakfast',
                  checked: false,
                  text:'Завтрак'
                  },
                  {id: 'table',
                  checked: false,
                  text:'Письменный стол',
                  },
                  {id: 'baby-chair',
                  checked: false,
                  text:'Стул для кормления',
                  },
                  {id: 'baby-bed',
                  checked: false,
                  text:'Кроватка',
                  },
                  {id: 'tv',
                  checked: false,
                  text:'Телевизор',
                  },
                  {id: 'shampoo',
                  checked: false,
                  text:'Шампунь',
                  }],
        })
   
    .checkbox2
      +checkBoxList({
        name: 'expandable checkbox list',
        open: 'active',
        id: 'checkbox',
        closing: false,
        items: [{id: 'breakfast',
                checked: false,
                text:'Завтрак'
                },
                {id: 'table',
                checked: true,
                text:'Письменный стол',
                },
                {id: 'baby-chair',
                checked: true,
                text:'Стул для кормления',
                },
                {id: 'baby-bed',
                checked: true,
                text:'Кроватка',
                },
                {id: 'tv',
                checked: false,
                text:'Телевизор',
                },
                {id: 'shampoo',
                checked: false,
                text:'Шампунь',
                }],
      })
      

      //- +checkBoxList('active', "expandable checkbox list", true, false, true)
