+headImgGrey
.headers-and-footers
    .headers-and-footers__header-1
        include ../../../modules/header/header
    .headers-and-footers__header-2
        include ../../../modules/header/header2
    .headers-and-footers__footer
        include ../../../modules/footer/footer 
    .headers-and-footers__mobile-footer
        include ../../../modules/mobile-footer/mobile-footer

