@import "../../../modules/header/header.scss";
@import "../../../modules/footer/footer.scss";
@import "../../../modules/blocks/toxinLogo/toxinLogo.scss";
@import "../../../modules/blocks/social-links/social-links.scss";
@import "../../../modules/mobile-footer/mobile-footer.scss";
@import "../../../modules/blocks/head-grey/head-grey.scss";

.headers-and-footers {
  padding-top: 33px;

  &__mobile-footer {
    margin: 40px 0px;
  }

  &__header-1,
  &__header-2 {
    height: 70px;
    position: relative;
    width: 1440px;
    margin: auto;
  }
  &__header-2 {
    margin: 40px 0px;
  }
}
