// .field-name {
//   margin-bottom: 4px;
//   // box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
// }
.date-dropdown-wrap {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 105px;
  .left-dd,
  .right-dd {
    width: 150px;
    overflow: hidden;
  }
}

.elements-grid {
  margin: auto;
  max-width: 1158px;
  display: grid;
  grid-template-columns: 320px minmax(6px, 126px) 321px minmax(6px, 62px) 321px;
  grid-template-rows: 32px 636px 97px 266px 50px 280px 80px 180px;
}
.fields-dropdowns {
  grid-column: 1/2;
  grid-row: 2/3;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
}
.line-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  .line-text_minor-text {
    color: rgba(31, 32, 65, 0.5);
    font-weight: 400;

    &.__up {
      margin-bottom: 6px;
    }
  }
}
.focus-hover {
  input {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
    font-size: 13.5px;
    // border-radius: 4px 4px 0px 0px;
  }
}

.text-field {
  height: 85px;
  // width: 321px;
}
.text-field_two {
  height: 84px;
}
.text-field_three {
  height: 86px;
}
.text-field_four {
  height: 105px;
}

.dropdowns {
  grid-column: 3/4;
  grid-row: 4/5;
}
