mixin linkSocial
  .social-links
      a(target='_blank' href='//google.com')  
        img(src=require('Images/twitter.svg'))
      a(target='_blank' href='//google.com') 
        img(src=require('Images/facebook.svg'))
      a(target='_blank' href='//google.com') 
        img(src=require('Images/instagramm.svg'))