include ../mixins
doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Toxin - UI
        script(src='app.js')
        script(src="dropdown.js" defer)
        link(rel='icon' href=require('~Images/favicon.ico'))
        link(rel='stylesheet' href=require('~Styles/ui.scss'))
        link(rel='stylesheet' href=require('~Styles/modules/footer.scss'))
a(href='../index.html')
    button.to-home < Home 
.wrapper
    h2.ui-info Color & Type
    article.block.colors
        include ./ui/colors
    h2.ui-info Form Elements
    article.block.elements
        include ./ui/elements

    include ../../assets/modules/footer