include ../mixins
link(rel='stylesheet' href=require('~Styles/ui.scss'))
a(href='../index.html')
    button.to-home < Home 
.wrapper
    h2.ui-info Color & Type
    article.block.colors
        +headImg  
        .block.colors_sections     
            section.colors
                ul 
                    li 
                        .quad.main-dark.shade100
                        .quad_info
                            h2 Dark Shade 100% 
                            p #1F2041
                    li 
                        .quad.main-dark.shade75
                        .quad_info
                            h2 Dark Shade 75%
                            p #1F2041
                    li 
                        .quad.main-dark.shade50
                        .quad_info
                            h2 Dark Shade 50%
                            p #1F2041
                    li 
                        .quad.main-dark.shade25
                        .quad_info
                            h2 Dark Shade 25%
                            p #1F2041
                    li 
                        .quad.main-dark.shade5
                        .quad_info
                            h2 Dark Shade 5%
                            p #1F2041
                    li 
                        .quad.purple
                        .quad_info
                            h2 Purple
                            p #BC9CFF
                    li 
                        .quad.green
                        .quad_info
                            h2 Green
                            p #6FCF97
                   
            section.type
                        .fonts-name._name-h1 
                            p  H1
                        .fonts-info._info-h1
                            h1 This one is the sub-section or widget title    
                        .fonts-name._name-h2 
                            p H2
                        .fonts-info._info-h2
                            h2 Next one is the item title inside widgets                
                        .fonts-name._name-h3 
                            p H3
                        .fonts-info._info-h3
                            h3 This is a label or CTA text
                        .fonts-name._name-body 
                            p  Body
                        .fonts-info._info-body
                            body This is the body text which is used for most #[br] of the design, like paragraphs, lists, etc.
    h2.ui-info Form Elements
    article.block.elements
        +headImg 