.mobile-footer__wrap {
  height: 367px;
  width: 768px;
  background-color: $mainBackground;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .link-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 3px;
      padding: 17px 0px 19px 0px;
    }
  }
}
