@import "../../assets/styles/_vars.scss";
// @import "../../modules/find-rooms/find-rooms.scss";
// @import "../../modules/blocks/dropdown/dropdown.scss";
// @import "../../modules/blocks/airDatepicker/airDatepicker.scss";
// @import "../../modules/blocks/datepicker/datepicker.scss";
@import "../../modules/login/login.scss";
@import "../ui/ui-parts/headersAndFooters.scss";
@import "../../modules/blocks/buttons/buttons.scss";
@import "../../modules/blocks/dropdown-nav/dropdown-nav.scss";
@import "../../modules/blocks/masked-text-field/masked-text-field.scss";

.sign-in {
  &__main-content {
    height: 702px;
    // min-height: 358px;
    background-position-y: 100%;
    // background-position-x: 10%;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/sign-image.png);
  }

  &__wrapper {
    height: 100%;
    position: relative;
    max-width: 1440px;
    margin: auto;
  }
  &__find-window {
    position: absolute;
    // top: 243px;
    // left: 530px;
    left: calc(50% - 190px);
    top: 24.5%;
  }
}
@media all and (max-width: 1440px) {
  .sign-in__main-content {
    height: 48vw;
    min-height: 358px;
  }
  .sign-in__find-window {
    top: 4.5vw;
  }
}
@media all and (max-width: 840px) {
  .sign-in__find-window {
    top: 0;
  }

  .sign-in__main-content {
    // height: auto;
  }
}
@media all and (max-width: 480px) {
}
