meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='Keywords' content='отель, бронь, номер, тег, гостиница')
meta(name='description' content='Сайт по бронированию номеров')
title Toxin - бронирование номеров
script(src='app.js')
link(rel='icon' href=require('~Images/favicon.ico'))

    //- require source styles directly in template for processing via webpack
link(rel='stylesheet' href=require('~Styles/styles.scss'))
link(rel='stylesheet' href=require('~Styles/modules/footer.scss'))
link(rel='stylesheet' href=require('~Styles/modules/header.scss'))