@import "../../../modules/blocks/select/select.scss";

.dropdown {
  position: relative;
  &__input_sharp {
    border-radius: 4px 4px 0px 0px;
    padding-right: 40px;
  }
}
.js-dropdown__input_active {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px 4px 0px 0px;
}
.dropdown__controls {
  position: relative;
}

.js-dropdown__arrow_active::after {
  transform: rotate(180deg);
  transition: transform $aniTime ease-in-out;
}
.dropdown__menu {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 5px 6px 7px 14px;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background-color: $mainBackground;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top-width: 0px;
  display: none;
}
.js-dropdown__menu_active {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  animation: fadeIn $aniTime;
}
.dropdown__down-btns {
  // padding-top: 5px;
  justify-content: flex-end;
  column-gap: 144px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  button {
    padding: 0px;
  }
  h3 {
    color: $purple;
  }
}

.js-dropdown__btn_hidden {
  display: none;
}

// border: 1px solid rgba(31, 32, 65, 0.5);
// border-radius: 4px 4px 0px 0px;

// .dropdown-menu {
//   z-index: 1;
//   width: 320px;
//   // height: 0px;
//   // border: 0px solid rgba(31, 32, 65, 0.5);
//   border-radius: 0px 0px 4px 4px;
//   overflow: hidden;
//   left: 0;

//   top: calc(100% - 0px);
//   background-color: $mainBackground;
//   box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
//   opacity: 0;
//   pointer-events: none;
//   // transform: translateY(-1px);
//   transition: opacity 200ms ease-in-out, border 200ms ease-in-out;
//   li {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 4px 7px 5px 14px;
//   }

//   #dropdown-reset {
//     display: none;
//   }
// }

.dropdown.active > .dropdown-menu {
  opacity: 1;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top-width: 0px;
  // transform: translateY(-1px);
  pointer-events: auto;
  transition: opacity 200ms ease-in-out;
  position: absolute;
}
