extends ../layout

append style
  link(rel='stylesheet' href=require('./home.scss'))

//- append script
  script(src=require('./main.js'))

block content
  //- h1 Hello World!

  main.main-content
    ul
        a(href='ui.html')
            li UI kit 
        a(href='toxin.html')
            li Website
        a(href='about.html') about!!
    //- #app-root
      //- The dynamic content compiled at runtime in JavaScript.

    //- #static-content
    //- nav.main-menu
   
