.rich-checkbox-li__name {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: $mainFontColor;
}
.checkbox-li__text-section {
  display: flex;
  flex-direction: column;
  width: 223px;
}
.rich-checkbox-li__text {
  font-size: 12px;
  color: $mainFontColor05;
  line-height: 14px;
  font-weight: 400;
  text-transform: none;
}
