.like {
  // display: flex;
  // flex-direction: column;

  &__heart::before {
    font-family: $materialFont;
    content: "favorite_border";
    // width: 20px;
    // height: 20px;
  }
  &__count {
    padding-bottom: 2px;
  }

  &__btn_not-liked {
    padding: 5px 11px 4px 4px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 20px;
    // transform: translate(25%, 25%);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    color: $mainFontColor025;
  }

  // &__btn_liked-alt {
  //   padding: 5px 11px 4px 4px;
  //   font-size: 10px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 40px;
  //   height: 20px;
  //   // transform: translate(25%, 25%);
  //   border: 1px solid $purple;
  //   border-radius: 10px;
  //   color: $purple;
  //   .like__heart::before {
  //     // font-family: $materialFont;
  //     content: "favorite";
  //     background: $gradient;
  //     -webkit-background-clip: text;
  //     -webkit-text-fill-color: transparent;
  //     background-clip: text;
  //   }
  // }

  &__btn_liked {
    padding: 5px 11px 4px 4px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 20px;
    color: $purple;
    // height: 100%;
    background: linear-gradient(#fff, #fff) padding-box, $gradient border-box;
    border: 1px solid transparent;
    border-radius: 22px;
    .like__heart::before {
      // font-family: $materialFont;
      content: "favorite";
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}
