+headImg 
div
    h3.field-name Text Field
div
    p Default
+textField
div
    h3.field-name Text Field
div
    p Hover / Focus
form.focus-hover
    input(type="text" placeholder="Email" value="This is pretty awesome")     

h3.field-name Dropdown
+dropdown('взрослые', 'дети', 'младенцы')
h3.field-name masked text field
+birthDate 
