mixin additionally({title, text, ico}={})
      form.additionally__form
        i.additionally__ico=ico 
        .additionally__info
          h3.additionally__title=title
          span.additionally__text=text   