.additionally {
  &__ico {
    font-family: $materialFont;
    font-size: 48px;
    font-style: normal;
    //   overflow: hidden;
    padding-top: 14px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    background-clip: text;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-left: 9px;
  }
  &__form {
    display: flex;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    height: 71px;
    width: 280px;
    margin-bottom: 18px;
  }
  &__title {
    color: $mainFontColor;
  }
  &__text {
    padding-top: 4px;
  }
}
