include ../dropdown/dropdown.pug

mixin dropdownGuest({title='', id='', values=[], placeholder='Сколько гостей', sharp=false, open=false, buttons}={})
  .dropdown-guests
    -
      const items=[{ name: 'взрослые', value: 0 }, { name: 'дети', value: 0 }, { name: 'младенцы', value: 0 }];
      if(values) {
        values.forEach((value, index) => items[index].value = value)
      }
    +dropdown({title, placeholder, id, items, buttons, sharp, open})


