.guests {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 6px 5px 14px;
  }
  li:last-child {
    justify-content: space-between;
    display: flex;
    margin: 20px 0px 10px 0px;
    align-items: flex-end;
    h3 {
      color: $purple;
      margin-left: 8px;
    }
  }
  #dropdown-reset {
    display: none;
  }
}
