mixin pagination(totalItems, itemsOnPage)
  .pagination.js-pagination(data-totalItems=totalItems, data-itemsOnPage=itemsOnPage)
    .pagination__buttons.js-pagination__buttons
    p.pagination__text 
      span.pagination__text-counter.js-pagination__text-counter