@import "./nouislider.scss";

.range-slider {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  &__price {
    font-size: 12px;
  }
}

.noUi-target {
  border-radius: 3px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #ffffff;
}
.noUi-horizontal {
  height: 6px;
}
.noUi-horizontal .noUi-handle {
  height: 16px;
  width: 16px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  top: -6px;
  right: -5px;
  box-shadow: none;
}
.noUi-handle::after,
.noUi-handle::before {
  display: none;
}
.noUi-connects {
  overflow: visible;
  border-radius: 3px;
}
.noUi-connect {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  top: -1px;
  height: 6px;
}
