@import "../../assets/styles/_vars.scss";
@import "../../modules/find-rooms/find-rooms.scss";
@import "../../modules/blocks/dropdown/dropdown.scss";
@import "../../modules/blocks/airDatepicker/airDatepicker.scss";
@import "../../modules/blocks/datepicker/datepicker.scss";

@import "../ui/ui-parts/headersAndFooters.scss";
@import "../../modules/blocks/buttons/buttons.scss";
@import "../../modules/blocks/dropdown-nav/dropdown-nav.scss";
@import "../../modules/blocks/masked-text-field/masked-text-field.scss";

.toxin {
  &__main-content {
    height: 830px;
    background-position-y: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/landing.png);
  }
  &__info {
    width: 300px;
    position: absolute;
    bottom: 20px;
    right: 134px;
    text-align: right;
  }
  &__wrapper {
    height: 100%;
    position: relative;
    max-width: 1440px;
    min-height: 374px;
    margin: auto;
  }
  &__find-window {
    position: absolute;
    top: 70px;
    left: 140px;
  }
}
@media all and (max-width: 1440px) {
  .toxin__main-content {
    height: 57vw;
    min-height: 530px;
  }
}
@media all and (max-width: 840px) {
  .toxin__find-window {
    left: calc(50% - 190px);
  }
  .toxin__info {
    right: 6px;
  }
  .toxin__main-content {
    min-height: 590px;
  }
}

@media all and (max-width: 480px) {
  .toxin__info {
    display: none;
  }
  .toxin__find-window {
    top: 0;
  }

  .toxin__main-content {
    height: auto;
    min-height: auto;
  }
}
