header
  .header-wrap
    a.header__logo.header-block(target='_blank' href='//google.com')
      +toxinLogo 
    nav.header__links.header-block 
      ul.header__nav
        li 
          a(target='_blank' href='//google.com') О нас
        +dropdownHeader({title:'Услуги',
                  items:
                   [{name:'Первое'},
                    {name:'Второе'},
                    {name:'Третье'},
                    {name:'Четвертое'},
                    {name:'Пятое'}]})
        li 
          a(target='_blank' href='//google.com') Вакансии
        li 
          a(target='_blank' href='//google.com') Новости
        +dropdownHeader({title:'Соглашения',
                  items:
                   [{name:'Первое'},
                    {name:'Второе'},
                    {name:'Третье'},
                    {name:'Четвертое'},
                    {name:'Пятое'}]})      
      .header__login.header-block
          +enterButton({text:'войти', link: "https://www.google.com/"})
          +registerButton({text:'зарегистрироваться', link: "https://www.google.com/"})

