footer
  .footer-wrap
        .footer__brand
            h3 
              +toxinLogo 
            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__nav
            h3 Навигация
            ul 
              li 
                a(target='_blank' href='//google.com') О нас 
              li 
                a(target='_blank' href='//google.com') Новости
              li 
                a(target='_blank' href='//google.com') Служба поддержки  
              li 
                a(target='_blank' href='//google.com') Услуги 
        .footer__about
            h3 о нас
            ul 
              li 
                a(target='_blank' href='//google.com') О сервисе   
              li 
                a(target='_blank' href='//google.com') Наша команда  
              li 
                a(target='_blank' href='//google.com') Вакансии 
              li 
                a(target='_blank' href='//google.com') Инвесторы
        .footer__link
            h3 Служба поддержки
            ul 
              li 
                a(target='_blank' href='//google.com') Соглашения 
              li 
                a(target='_blank' href='//google.com') Сообщества 
              li 
                a(target='_blank' href='//google.com') Связь с нами 
        .footer__subscribe
            h3 Подписка
            ul 
                li 
                  p Получайте специальные предложения и новости сервиса
                li
                  +maskedTxtField({type: 'email', placeholder: 'Email', name: 'email', readonly:false, button:true, required:true})

                    //- +subscription({id: 'subscription-email'})
                        
  .footer_shadow 
  .footer__end               
    +copyright
    +linkSocial
   
            