.subscription {
  // width: 267px;
  &__controls {
    position: relative;
  }
  &__input {
    // padding: 0px 15px 1px 15px;
  }
  &__btn {
    padding: 1px 11px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    height: 100%;
    font-family: $materialFont;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
