@import "reset";
@import "fonts";
@import "vars";
// @import "./modules/calendar.scss"; //убрать

html {
  height: 100%;
}
body,
input {
  height: 100%;
  background-color: $mainBackground;
  font-family: $mainFont;
  font-style: $mainFontStyle;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;
}
input {
  height: 44px;
  width: 320px;
  padding: 0px 15px;
  background-color: rgba(31, 32, 65, 0);
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  &:hover,
  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
  }
  &::placeholder {
    color: rgba(31, 32, 65, 0.25);
  }
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
button {
  cursor: pointer;
  background-color: $mainBackground;
  font-family: $mainFont;
  color: rgba(31, 32, 65, 0.5);
  font-size: 18px;
  line-height: 22px;
}
h1 {
  font-weight: 700;
  font-size: 1.5rem; //24px
  line-height: 29px;
  color: rgba(31, 32, 65, 1);
}
h2 {
  font-weight: 700;
  font-size: 1.1875rem; //19px
  line-height: 23px;
  color: rgba(31, 32, 65, 1);
}
h3 {
  font-weight: 700;
  font-size: 0.75rem; //12px при 16 браузерных
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 1);
}
a {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
  text-transform: none;
  line-height: 17px;
  &:hover {
    color: rgba(31, 32, 65, 1);
  }
}
.wrapper {
  max-width: $maxWidth;
  // overflow: hidden;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#app-root {
  flex: 1 0 auto;
}
.toxin-img {
  display: flex;
  justify-content: space-between;
  width: 106px;
  // padding-right: 12px;
}

//для вариантов input
.subscribtion {
  display: flex;
  max-width: 267px;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;

  input {
    position: relative;
    // width: 100%;
    padding-bottom: 2px;
  }
  button {
    position: absolute;
    margin: 0px 7px 4px 0px;
  }
}
.drop-wrap {
  height: 44px;
  // width: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dropdown {
  position: absolute;
  background-color: $mainBackground;
  width: 320px;

  img {
    position: absolute;
    right: 5%;
    // padding-right: 6px;
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
  }

  &.active {
    img {
      transform: rotate(180deg);
      transition: transform 200ms ease-in-out;
    }
    input {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
      border-radius: 4px 4px 0px 0px;
    }
  }
}
.dropdown-menu {
  z-index: 1;
  width: 320px;
  height: 0px;
  border: 0px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  left: 0;
  top: calc(100% - 0px);
  background-color: $mainBackground;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-1px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out,
    height 200ms ease-in-out, border 200ms ease-in-out;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 5px 5px 14px;
  }
  li:last-child {
    justify-content: space-between;
    display: flex;
    margin: 20px 0px 0px 0px;
    align-items: flex-end;
    h3 {
      color: $purple;
      margin-left: 8px;
    }
  }
  #dropdown-reset {
    display: none;
  }
}
.dropdown.active > .dropdown-menu {
  opacity: 1;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  transform: translateY(-1px);
  pointer-events: auto;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out,
    height 200ms ease-in-out, border 200ms ease-in-out;
  position: absolute;
}
.dropdown-toggle,
.dropdown-toggle__mid,
.dropdown-toggle__short {
  background-color: $mainBackground;

  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px 4px 0px 0px;
  }
}
.dropdown-toggle__short {
  max-width: 150px;
}
.dropdown-toggle__mid {
  max-width: 267px;
}
.dropdown-button {
  display: flex;
  align-items: center;
  width: 92px;
  justify-content: space-between;
  button {
    border-radius: 22px;
    width: 30px;
    height: 30px;
    // margin-left: 12px;
    margin-top: 2px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    // &.active {
    // }
    &.non-active {
      opacity: 0.38;
    }
  }
}
.date-field {
  color: rgba(31, 32, 65, 0.25);
  text-transform: uppercase;
}
.date-dropdown {
  position: absolute;
  // width: 150px;
  overflow: hidden;
  &.active img {
    transform: rotate(180deg);
    transition: transform 200ms ease-in-out;
  }
  .date-dropdown_input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // width: 150px;
  }
  img {
    position: absolute;
    right: 15px;
    // padding-right: 6px;
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
  }
  input {
    // text-transform: uppercase;
    // width: 150px;
    display: inline-block;
  }
}
.calendar {
  width: 100px;
  z-index: 1;
  height: 0px;
  border: 0px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  left: 0;
  top: calc(100% - 0px);
  background-color: $mainBackground;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-1px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out,
    height 200ms ease-in-out, border 200ms ease-in-out;
}
.date-dropdown.active > .calendar {
  opacity: 1;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  transform: translateY(-1px);
  pointer-events: auto;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out,
    height 200ms ease-in-out, border 200ms ease-in-out;
  position: absolute;
}

.enter-button {
  height: 34px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-left: 21px;
  h3 {
    color: $purple;
    padding: 0px 12px;
  }
}
.register-button {
  height: 34px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-left: 20px;
  h3 {
    color: #ffffff;
    padding: 0px 12px;
  }
}

.copyright {
  display: flex;
  align-items: center;
}
.link-social {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 112px;
}
.link-wrap {
  height: 367px;
  width: 768px;
  background-color: $mainBackground;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2px;
  .link-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 3px;
      padding: 18px 0px;
    }
  }
}

.dropdown-el {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  button {
    img {
      transform: rotate(0deg);
      transition: transform 200ms ease-in-out;
    }
  }
  &.active {
    button {
      img {
        transform: rotate(180deg);
        transition: transform 200ms ease-in-out;
      }
    }
  }
}
.dropdown-el.active > .dropdown-el-toggle + .dropdown-el-menu {
  opacity: 1;
  border: 1px solid rgba(31, 32, 65, 0.25);
  transform: translateY(0px);
  pointer-events: auto;
  position: absolute;
}
