@import "reset";
@import "fonts";
@import "vars";
html {
  height: 100%;
}
body,
input {
  height: 100%;
  background-color: #ffffff;
  margin: 0px 5px;
  font-family: $mainFont;
  font-style: $mainFontStyle;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;
}
h1 {
  font-weight: 700;
  font-size: 1.5rem; //24px
  line-height: 29px;
  color: rgba(31, 32, 65, 1);
}
h2 {
  font-weight: 700;
  font-size: 1.1875rem; //19px
  line-height: 23px;
  color: rgba(31, 32, 65, 1);
}
h3 {
  font-weight: 700;
  font-size: 0.75rem; //12px при 16 браузерных
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 1);
}
.wrapper {
  max-width: $maxWidth;
  overflow: hidden;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#app-root {
  flex: 1 0 auto;
}
