@import "reset.scss";
@import "fonts";
@import "vars";
html,
body,
input {
  height: 100%;
  background-color: #ffffff;
  color: $mainFontColor;
  margin: 0px 5px;
  font-family: $mainFont;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
}
.wrapper {
  max-width: $maxWidth;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#app-root {
  flex: 1 0 auto;
}
