@import "styles"; //вернуть
@import "./ui/uiColors.scss";
@import "./ui/uiElements.scss";
@import "./ui/uiHeadersAndFooters.scss";
// @import ".././styles/modules/footer.scss";
body {
  background-color: rgba(31, 32, 65, 0.25);
}
.to-home {
  font-size: 1.5rem;
  cursor: pointer;

  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 12%;
}
.ui-info {
  color: rgba(31, 32, 65, 0.5);
  margin: 5px;
}
.head-container {
  padding: 30px;
}
.head-container_grey {
  padding: 30px;
  margin-bottom: 32px;
}
