$mainFont: "Montserrat", Arial, sans-serif;

// Size
$mainFontSize: 0.875rem; //14px от 16 браузерных
$mainFontWeight: 400;
$mainLineHeight: 24px;
$mainFontStyle: normal;
$mainFontColor: rgba(31, 32, 65, 0.75);
$mainFontColor05: rgba(31, 32, 65, 0.5);
$mainFontColorActive: rgba(31, 32, 65, 1);

$maxWidth: 1440px; //вариант 1920px
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main colors
$mainColor: #1f2041;
$green: #6fcf97;
$purple: #bc9cff;
$mainBackground: #ffffff;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
