mixin login
  form.login
    .login__wrap
      .login__title 
        h1 Войти
      form.login__info
        +maskedTxtField({title:'', placeholder:'Email', name: "email", type: 'email', readonly:false, required:true})
        +maskedTxtField({title:'', placeholder:'Пароль', name: "password", type: 'password', readonly:false, required:true})
        +registerButton({text:'войти', arrow:true})
      .login__enter 
        p Нет аккаунта на Toxin?
        .login__enter-btn 
          +enterButton({text:'создать',
                        link: "/reg-page.html"})
