mixin checkboxElem(name, id, checked=false)
  li.checkbox-li(id=id)
    label.checkbox-li__label
      input.checkbox-li__input_hidden(type='checkbox', checked=checked)
      span.checkbox-li__box
      span.checkbox-li__name= name
